# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Other
*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

